body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBox {
    width: 380px;
    height: 540px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 5px 5px 40px 5px;
}

.qrCode {
    margin: 10px;
}

.qrCode img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
}

.text {
    margin: auto;
    text-align: center;
}

#para1 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
    color: hsl(218, 44%, 22%);
}

#para2 {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}